<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Wasel Delivery</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1715570865419770</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1096085731009-oe6knk0urr1gfrnmdh5mj1885uevs4u5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Wasel</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1715570865419770</string>
	<key>FacebookDisplayName</key>
	<string>Wasel Delivery</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbshareextension</string>
		<string>fb-messenger-api</string>
		<string>fbapi</string>
		<string>fbauth2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To allow camera access for profile image update and for attaching an image in order anything in Wasel Delivery, tap "OK".</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wasel Delivery finds the outlets around you. Tap "Allow"</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>For picking a photo from the photo library, tap "Allow".</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Black.otf</string>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-ExtraBold.otf</string>
		<string>Montserrat-ExtraLight.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-Thin.otf</string>
		<string>MontserratAlternates-Black.otf</string>
		<string>MontserratAlternates-Bold.otf</string>
		<string>MontserratAlternates-ExtraBold.otf</string>
		<string>MontserratAlternates-ExtraLight.otf</string>
		<string>MontserratAlternates-Light.otf</string>
		<string>MontserratAlternates-Medium.otf</string>
		<string>MontserratAlternates-Regular.otf</string>
		<string>MontserratAlternates-SemiBold.otf</string>
		<string>MontserratAlternates-Thin.otf</string>
		<string>icomoon.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>orderHistory-3dtouch</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Order History</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).orderHistory</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>orderAnything-3dtouch</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Order Anything</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).orderAnything</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>search-3dtouch</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>outlet-3dtouch</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string></string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Outlets</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).outlets</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Login</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
